.card{
    height: 100vh;
    width:20rem ;
    /* position: absolute; */
    display: inline;
}

.card-title{
    margin-bottom: 2rem;
}

.pricing{
    background-color: rgb(229, 255, 253);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}

.price{
    display: flex;
    align-items: center;
}

.price h1{
 font-size: 3rem;
 font-weight: bold;
}

.know-more{
    margin-top: 7rem;
}

.bg-warning{
transform: rotate(-45deg);
position: relative;
top: 15px;
    left: -120px;
}

/* .box2{
    margin-left: 25rem;
}

.box3{
    margin-left: 50rem;
}

.box4{
    right: 0;

} */

body{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    background-color: rgb(178, 178, 10);
    position: relative;
}

@media only screen and ( max-width:600){
    body {
        display: none;
       
      }

}

